.element__image {
    width: 100%;
    max-height: 282px;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
    aspect-ratio: 1 / 1;
    display: block;
    cursor: pointer;
    background-size: cover;
}