.reglog{
    display: flex; /* скрыла попап */
    justify-content: center; /* выравниваем по горизонтали */
    align-items: center; /* выравниваем по вертикали */
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
}